node_modules
.next
out
build
dist
.git
.github
.husky
.vscode
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
README.md
DEPLOYMENT.md
Dockerfile*
docker-compose.yml
.dockerignore
package-lock.json
pnpm-lock.yaml
pnpm-workspace.yaml
